@theme {
   /*----| Colors config |------------------------------------------------------------------------------*/

   /* Color primary */
   --color-primary-100: oklch(0.897 0.019 292.65);
   --color-primary-200: oklch(0.787 0.042 293.07);
   --color-primary-300: oklch(0.685 0.063 293.21);
   --color-primary-400: oklch(0.584 0.084 292.81);
   --color-primary-500: oklch(0.475 0.097 292.11);
   --color-primary-600: oklch(0.411 0.084 292.21);
   --color-primary-700: oklch(0.342 0.069 292.73);
   --color-primary-800: oklch(0.272 0.057 292.63);
   --color-primary-900: oklch(0.21 0.043 292.77);

   /* Color neutral */
   --color-neutral-50: #fcfcfc;
   --color-neutral-100: #f9f9f9;
   --color-neutral-200: #f6f6f6;
   --color-neutral-300: #f1f1f1;
   --color-neutral-400: #cccccc;
   --color-neutral-500: #a6a6a6;
   --color-neutral-600: #818181;
   --color-neutral-700: #616161;
   --color-neutral-800: #404040;
   --color-neutral-900: #242424;
   --color-neutral-950: #151515;

   /* Color state */
   --color-feedback-error-100: oklch(0.7917 0.1175 14.82);
   --color-feedback-error-200: oklch(0.6763 0.2052 19.66);
   --color-feedback-error-300: oklch(0.5151 0.2084 27.18);

   --color-feedback-success-100: oklch(0.8627 0.1247 158.94);
   --color-feedback-success-200: oklch(0.7139 0.1762 153.08);
   --color-feedback-success-300: oklch(0.5289 0.1277 153.62);

   --color-feedback-warning-100: oklch(0.9239 0.1311 96.58);
   --color-feedback-warning-200: oklch(0.8969 0.1648 95.17);
   --color-feedback-warning-300: oklch(0.8048 0.164563 91.5369);

   /*----| Fonts config |-------------------------------------------------------------------------------*/

   /* Font family */
   --font-headings: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
   --font-body: 'Nunito', 'Helvetica Neue', Arial, sans-serif;

   /* Font size */
   --text-header-0: 1.8rem;
   --text-header-1: 1.6rem;
   --text-header-2: 1.383rem;
   --text-header-3: 1.296rem;
   --text-header-4: 1.215rem;
   --text-header-5: 1.138rem;
   --text-header-6: 1.05rem;
   --text-body-1: 1rem;
   --text-body-2: 0.9rem;
   --text-body-3: 0.875rem;
   --text-body-4: 0.825rem;

   /*----| Spacing config |-------------------------------------------------------------------------------*/

   --spacing-2xs: 0.25rem;
   --spacing-xs: 0.5rem;
   --spacing-s: 0.75rem;
   --spacing-m: 1rem;
   --spacing-l: 1.25rem;
   --spacing-xl: 1.5rem;
   --spacing-2xl: 2rem;
   --spacing-3xl: 2.5rem;
   --spacing-4xl: 3rem;
   --spacing-5xl: 3.5rem;
   --spacing-6xl: 4rem;

   /*----| Radius config |-------------------------------------------------------------------------------*/
   --radius-none: 0px;
   --radius-2xs: 0.125rem;
   --radius-xs: 0.25rem;
   --radius-s: 0.375rem;
   --radius-m: 0.5rem;
   --radius-l: 0.625rem;
   --radius-xl: 0.75rem;
   --radius-2xl: 1rem;
   --radius-3xl: 1.25rem;
   --radius-full: 62.438rem;

   /*----| Shadow config |-------------------------------------------------------------------------------*/

   --shadow-E0: 0px 0px 0px 0px rgba(27, 28, 29, 0.1);
   --shadow-E1: 0px 4px 5px 0px rgba(27, 28, 29, 0.1);
   --shadow-E2: 0px 6px 10px 0px rgba(27, 28, 29, 0.1);
   --shadow-E3: 0px 7px 15px 0px rgba(27, 28, 29, 0.1);
}
